﻿@model Ebuy.Models.LocalPasswordModel

<p>
    У вас нет локального пароля для этого сайта. Добавьте локальный пароль,
    чтобы входить без внешней учетной записи.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Форма задания пароля</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Задать пароль" />
    </fieldset>
}
